<nav class="navbar navbar-default" style="background:rgba(2, 221, 250, 0.575)">
    <div class="container-fluid" >
        <div class="navbar-header" >
            <a href="#" class="navbar-brand">Recipe Book</a>
            </div>
       
        <ul class="nav navbar-nav">
           <li><a href="#" (click)="onSelect('recipe')">Recipes</a> </li>
           
        </ul>
        <ul>
        <a href="#" (click)="onSelect('shopping-list')">Shopping List</a> 

        </ul>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        
        <div class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a>
            </li>
        </ul>
    </div>
       </div>
</nav>