<label>Server Name</label>
<input type="text" class="form-control"
[(ngModel)] = "serverName" >
<button class="btn btn-primary"
[disabled] =!allowNewServer
(click)=" onCreateServer()" >Add Server</button>
<p *ngIf="serverCreated">Server was created , Server name is {{serverName}}</p>
 <app-server *ngFor="let server of servers"></app-server> 


 <!-- <button class="btn btn-primary" (click)="showSecret ==!showSecret">Display Details</button> -->
 <button class="btn btn-primary" (click)="Toggle()">Display Details</button>
 <p *ngIf="showSecret">Secret password = tuna</p>
 <div *ngFor="let logItem of log; let i='index'"
 [ngStyle]="{backgroundColor: i>=5 ? 'blue': 'white'}"
 [ngClass]="{'white-text': i>=5}">
 {{logItem}}</div>

 <!-- ///fifth step////// -->
 
