<app-header></app-header>
<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)"
  (bluePrintCreated)="onBluePrintAdded($event)"></app-cockpit>
  <div class="row">
    <div class="col-md-12">
      <app-server-element *ngFor="let serverElement of serverElements" [srcElement]="serverElement"></app-server-element>
      <!-- <app-recipes> </app-recipes>
      &nbsp; -->
      <!-- <app-shopping-list></app-shopping-list> -->


</div>


<div>
  <!-- <app-servers></app-servers>
  <app-server></app-server><app-servers></app-servers> -->
  
  
</div>
<div></div>

<router-outlet></router-outlet>
