<app-header (featureSelected) ="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
    </div>
  </div>
</div>

<!-- <div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)"
  (bluePrintCreated)="onBluePrintAdded($event)"></app-cockpit> &nbsp;
  <div class="row">
    <div class="col-xs-12">
     
      <button class="btn btn-primary" (click)="onChangeFirst()">Change First Element</button>
      <button class="btn btn-danger" (click)="onChangeSecond()">Destroy first element</button> -->
      <!-- <app-server-element *ngFor="let serverElement of serverElements"
       [srcElement]="serverElement"
       [name]="serverElement.name">
        <p #contentParagraph>
          <strong *ngIf="serverElement.type==='server'" style="color:red">
      {{serverElement.content}}
          </strong>
          <em *ngIf="serverElement.type==='blueprint'" >{{serverElement.content}}</em>
      </p>


      </app-server-element> -->
      <!-- <app-recipes> </app-recipes>
      &nbsp; -->
      <!-- <app-shopping-list></app-shopping-list> -->

<!-- 
</div>


<div> -->
  <!-- <app-servers></app-servers>
  <app-server></app-server><app-servers></app-servers> -->
  
<!--   
</div> -->

&nbsp;

<div>
  <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
</div>
<div class="col-xs-12">
 <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd> 
</div>
<div class="col-xs-12">
  <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even> 
 </div>
 <app-auth></app-auth>
 
<div></div>

<router-outlet></router-outlet>
